## Control statements
Like other programming languages, Python provides if, while and for.
The control of repetition (loops) and branching by conditions (conditional branches) are the heart of the programming.

- Conditional branching: if
- Loops: while, for, continue, break, etc.

# Conditional branch if

## Basic if syntax
if Condition:

    Processing of the target

Comparison and logical operators can be used for conditions.

### Comparizon operators
```python
a == b # a is equal to b
a ! = b # a is different from b
a < b # a is less than b
a > b # a is greater than b
a <= b # a is less than or equal to b
a >= b # a is greater than or equal to b
a <> b # a is different from b

a is b # a is equal to b
a is not b # a is different from b
a in b # a is in b
a not in b # a is not in b
```

### Bool operators
```python
a and b # true if both a and b are true
a or b # true if a or b is true
not a # true if a is false
```

Boolean operator operations

| x   | y   | x and y |x or y| not x|  
|:---:|:---:| :------:|:----:|:----:|
|true |true | true    |true  |false |
|true |false| false   |true  |false |
|false|true | false   |true  |true  |
|false|false| false   |false |true  |

In [ ]:
n = 1

if n > 0:
    print('n is positive')

n is positive

In [ ]:
word = 'hello'

if word == 'hello':
    print('hello world')

hello world

In [ ]:
#Examples of Boolean operator usage
n = 1
m = 2

if n == 3 and m == 2:
    print('ok!')

## Boolean (True or False)
- A boolean value is represented by True or False.
- None is also available. Equivalent to null in other programming languages.
- The following values are all False. All other values are True.
    - False
    - None.
    - [ ]
    - {}
    - ""
    - set()
    - 0
    - 0.0

%%html
<style> 
table td, table th, table tr {text-align:left !important;}
</style>


|Comparison operators|Explanation|
|---|---|
|a == b |True if a and b are equal,<br>False otherwise |
|a ! = b | True if a and b are different,<br>False if they are equal.
|a > b | True if a is greater than b,<br>False otherwise |
|a >= b | True if a is greater than or equal to b, <br>False otherwise |
|a < b   |True if a is less than b, <br>False otherwise |
|a <= b | True if a is less than or equal to b, <br>False otherwise|

<div style="text-align: center;">
陦ｨ1-2-1 Comparison operators and boolean

|  Logical operators | Description |
|:---|:---|
| True |if both P and Q are True, otherwise False |
| True | if at least one of P and Q is True, otherwise False
| not P | True if P is False, otherwise False|

<div style="text-align: center;">
陦ｨ1-2-2縲Logical operators and boolean

In [ ]:
x = True
y = False
x and y

False

In [ ]:
x or y

True

From x = True, the conditional expression is True.

In [ ]:
if x:
    print("x is True")

x is True

From y = False, not y =True. Therefore, the conditional expression is True.

In [ ]:
if not y:
    print("y is False")

y is False

all() is True if all elements of the list are True.

In [ ]:
all([x,y])

False

 [1] is not False and is therefore judged to be True.

In [ ]:
all([x,True,[1]])

True

any() is True if one of the list is True.

In [ ]:
any([[],False,x])

True

[ ], False, y, all of which are False. Therefore, the output is False.

In [ ]:
any([[],False,y])

False

## Basic if syntax
if Condition:

    Target process
    
else:

    Processing if the condition fails

In [ ]:
n = 10

if n == 100:
    print('n is hundred!')
else:
    print('n is not hundred!')

n is not hundred!

In [ ]:
word = 'goodby'

if word == 'hello':
    print('world!')
else:
    print('.....')

.....

## Basic if syntax
if Condition 1:

    Processing when condition 1 is satisfied (true).
    
elif Condition 2: 

    Processing when condition 2 is satisfied (true).

In [ ]:
n = 99

if n > 100:
    print('n is over 100')
elif n <= 100:
    print('n equals 100')

In [ ]:
word = 'takoyaki'

if word == 'takayuki':
    print('I like takayuki')
elif word == 'takoyaki':
    print('I like takoyaki')

I like takoyaki

In [ ]:
n = 100

if n == 100:
    print('n equals 100')
elif n == 100:
    print('n 縺ｯ 100 縺ｨ遲峨＠縺 ')

n equals 100

In [ ]:
n = 100

if n > 100:
    print('n > 100')
elif n == 100:
    print('n == 100')
elif n < 100:
    print('n < 100')

n == 100

## Basic if syntax
if Condition 1:

    (Target process)
    
elif Condition 2:

    (process for which condition 1 fails and condition 2 is applicable)

elif Condition 3:
    
    (Processing when condition 1 and 2 fail and condition 3 is satisfied)

else:

    (Processing in cases other than the above)

In [ ]:
n = 100

if n > 100:
    print('n is bigger than 100')
elif n < 100:
    print('n is lower than 100')
else:
    print('n is 100')

n is 100

In [ ]:
word = 'takeyuki'

if word == 'takayuki':
    print('It is takayuki')
elif word == 'takoyaki':
    print('I like takoyaki')
else:
    print('Who are you?')

Who are you?

## Concrete examples.
## Display of greetings for the time inputted

In [1]:
#See how to use "input()"
a = input('please input:')
print(a)

please input:You understand how to use "input()"
You understand how to use "input()"

In [3]:
hour = int(input('Please enter the hour (0-24):'))

if 0 <= hour and hour <= 5:
    print('It is midnight. Quiet.')
elif 6 <= hour and hour <= 10:
    print('Good morning')
elif 11 <= hour and hour <= 16:
    print('Good afternoon')
elif 17 <= hour and hour <= 20:
    print('Good-bye')
elif 21 <= hour and hour <= 24:
    print('Good night')
else:
    print('No time for that')

Please enter the hour (0-24):20
Good-bye

### Accepting input

x = input()

x contains a value of type str

In [ ]:
x = input()
type(x)

1

str

In [4]:
### Rewrite using the set
hour = int(input('Please enter the hour (0-24):'))

if hour in {0,1,2,3,4,5}:
    print('It is midnight. Quiet.')
elif hour in {6,7,8,9,10}:
    print('Good morning')
elif hour in {11,12,13,14,15,16}:
    print('Hello')
elif hour in {17,18,19,20}:
    print('Good-bye')
elif hour in {21,22,23,24}:
    print('Good night')
else:
    print('No time for that')

Please enter the hour (0-24):4
It is midnight. Quiet.

'{}' denotes a set.

The in operator is included or not included. It can be used for collections such as sets, lists, dictionaries and tuples.

In [ ]:
1 in [1,2,3] # list

True

In [ ]:
2 in (1,2) # tuple

True

In [ ]:
# whether key is there for a dictionary
3 in {1:2,4:1}

False

### Condition operators.
```python
x if condition else y
```

Operator for making conditional statements on a single line.

In [5]:
x = 10
y = 20

min = x if x < y else y

print(min)

10

## If if input and child structures

Further if statements can be inserted in the if statement part

### Find the maximum of three values

In [ ]:
x = 200
y = 250
z = 300

if x > y:
    if x > z:
        print('max is x=',x)
    else:
        print('max is z=',z)
else:
    if y > z:
        print('max is y=',y)
    else:
        print('max is z=',z)

max is z= 300

In [ ]:
#Other ways of finding the maximum (not necessarily nested)
x = 200
y = 100
z = 300

max = x
if y > max:
    max = y
if z > max:
    max = z

print('max =', max)

max = 300

## Swap and sort values.

In [6]:
## Swap two values (swap)
x = int(input('integer x:'))
y = int(input('integer y:'))

print('swap')
# t means temporary
t = x
x = y
y = t

print('x=',x)
print('y=',y)

integer x:2000
integer y:3000
swap
x= 3000
y= 2000

In [ ]:
## Swap two values (swap)
x = int(input('integer x:'))
y = int(input('integer y:'))

print('swap')
x , y = y, x


print('x=',x)
print('y=',y)

integer x:10
integer y:20
swap縺励∪縺兔nx= 20
y= 10

In [7]:
## Three-valued sorting
x = int(input('integer x:'))
y = int(input('integer y:'))
z = int(input('integer z:'))

if x > y: x,y = y,x
if y > z: y,z = z,y
if x > y: x,y = y,x
    
print(x,'<',y,'<',z)

integer x:10
integer y:100
integer z:1
1 < 10 < 100

In [8]:
## 隱ｲ鬘  4蛟､縺ｮ繧ｽ繝ｼ繝

## sorted
Built-in sorting function

In [ ]:
x = int(input('integer x:'))
y = int(input('integer y:'))
z = int(input('integer z:'))

x,y,z = sorted([x,y,z])

print(x,y,z)

integer x:300
integer y:200
integer z:100
100 200 300

In [ ]:
x = int(input('integer x:'))
y = int(input('integer y:'))
z = int(input('integer z:'))

x,y,z = sorted([x,y,z], reverse=True)

print(x,y,z)

integer x:100
integer y:200
integer z:300
300 200 100