## Control 
Like other programming languages, Python provides if, while, for, etc.
The control of repetition (loops) and branching by conditions (conditional branches) are the heart of programming.

- Conditional branching: if
- Loops: while, for, continue, break, etc.

# While

## Basic syntax of while
while Condition:.

　(Target process)

Comparison and logical operators can be used for conditions.

### Comparison operators.
```python
a == b # a is equal to b
a ! = b # a is different from b
a < b # a is less than b
a > b # a is greater than b
a <= b # a is less than or equal to b
a >= b # a is greater than or equal to b
a <> b # a is different from b
a is b # a is equal to b
a is not b # a is different from b
a in b # a is in b
a not in b # a is not in b
```

### Boolean operators.
```python
a and b # true if both a and b are true
a or b # true if a or b is true
not a # true if a is false
```

Boolean operations.

| x | y | x and y |x or y| not x|  
|:---:|:---:| :------:|:----:|:----:|
|True |True |True |True |False
|True |False|False |True |False
|False|True |False |True |True |True
|False|False|False |False |False |True

In [ ]:
i = 1 # Assign 1 to i

while i < 10: # Repeat below if i is less than 10
    print(i) # print i
    i = i + 1 # Add 1 to i and assign to i -> i += 1
    
    #adding comment

1
2
3
4
5
6
7
8
9

In [ ]:
i = 1

while i < 10:
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9

In [ ]:
# Reduce by one from 10. Draw a flowchart.
i = 10

while i > 0:
    print(i)
    i = i - 1

10
9
8
7
6
5
4
3
2
1

In [ ]:
i = 10

while i > 0:
    print(i)
    i -= 1 # -> i = i - 1と同じ

10
9
8
7
6
5
4
3
2
1

In [1]:
#Find the sum from 1 to the number entered
i = 1
n = int(input('Please enter a number greater than or equal to 1:'))
sum = 0
while n >= i:
    sum = sum + i
    i += 1
print("The sum from 1 to",n, "is",sum)

Please enter a number greater than or equal to 1:100
The sum from 1 to 100 is 5050

## Sleep文

In [ ]:
# sleep
import time
n = 10
i = 0
while n > i:
    i += 1
    time.sleep(1) # function to stop execution for the number of seconds in brackets
    print(i)

1
2
3
4
5
6
7
8
9
10

## break文
Exit the nearest repetitive sentence.

In [ ]:
i = 1
while i > 0:
    print(i)
    i = i + 1
    if i == 10:
        print('break!')
        break

1
2
3
4
5
6
7
8
9
break!

## while ... else ...
Python specific syntax

In [ ]:
i = 1
while i < 10:
    print(i)
    i = i + 1
else:
    print('i is 10')
    print(i)

1
2
3
4
5
6
7
8
9
i is 10
10

## continue文
Skip without executing any further processing after each iteration.

In [ ]:
i = 0
while i < 10:
    i = i + 1
    if i < 5:
        continue # Repeat without executing the following print
    print(i)

5
6
7
8
9
10

## For 
The for statement in python is useful because it can be used in a variety of ways

for i in range(n):

Description of the process

- range(n) is a sequence of numbers from 0 to n-1.
- Assign the numbers 0 to n-1 to i in sequence and repeat the process in the suite.

In [2]:
# Example using the range function
n = int(input('input number:'))

for i in range(n): # Repeat the process (print(i)) during assigning 0 to n-1 to i
    print(i)

input number:10
0
1
2
3
4
5
6
7
8
9

### range関数

In [4]:
#Create a range type object with consecutive numbers from 0 to 10-1 as elements.
#(A range type object is an iterable object.)
x1 = range(0,10) #from 0 to 10-1 (one before 10)
print(x1)
print(list(x1))
x2 = range(10) #from 0 to 10-1 (one before 10)
print(x2)
print(list(x2))
x3 = range(0,10,2) #from 0 to 10-1 (one before 10) in increments of 2
print(x3)
print(list(x3))
x4 = range(10,0,-1) #from 10 to 0+1 (one before 0) in increments of -1
print(x4)
print(list(x4))

range(0, 10)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
range(0, 10)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
range(0, 10, 2)
[0, 2, 4, 6, 8]
range(10, 0, -1)
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
#Elements can be retrieved by index.
print(x1[2])
print(x3[2])
print(x4[0])

2
4
10

In [ ]:
# Example of using a Range object to specify a range of for iterations.
x = int(input('x='))
y = int(input('y='))

if y > x:
    x,y = y,x

for i in range(y,x+1):
    print(i,end=' ')
print()

x=100
y=80
80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

### Enumeration of even numbers

In [ ]:
n = int(input('n='))

for i in range(0,n,2):
    print(i,end=' ')
print()
#Let's try enumerating odd numbers too.

n=30
0 2 4 6 8 10 12 14 16 18 20 22 24 26 28

### for ... else ... 
You can also use else for for statements; python-specific syntax.

In [5]:
for i in range(10):
    print(i)
else:
    print('end')

0
1
2
3
4
5
6
7
8
9
end

## Using in lists and dictionaries

In [ ]:
# repetation by a list
list = ['alice','bob','charles','david','elen','foggy']

for name in list:
    print(name)

alice
bob
charles
david
elen
foggy

In [ ]:
# repetation by a dictionary
dic = {'alice':98,'bob':100,'charles':78}

for item in dic:
    print(item,dic[item])

alice 98
bob 100
charles 78

## Multiple loops.

In [ ]:
# multiplication table
for i in range(1,10):
    for j in range(1,10):
        print('{:3d}'.format(i*j),end=' ')
    print()

  1   2   3   4   5   6   7   8   9
  2   4   6   8  10  12  14  16  18
  3   6   9  12  15  18  21  24  27
  4   8  12  16  20  24  28  32  36
  5  10  15  20  25  30  35  40  45
  6  12  18  24  30  36  42  48  54
  7  14  21  28  35  42  49  56  63
  8  16  24  32  40  48  56  64  72
  9  18  27  36  45  54  63  72  81

In [ ]:
# Right Angle Triangle
for i in range(10):
    for j in range(10):
        if i > j : 
            print('{:2s}'.format('*'),end='')
    print()

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *

### How to use the format method

In [7]:
s1 = "{0}! Today is {1}. {2}".format("Ito-san","sunny day","Have a nice day")
print(s1)

Ito-san! Today is sunny day. Have a nice day

In [8]:
# Reuse the same sentence by the index
s2 = "{0}! Today is {1}. {0}!{2}".format("Ito-san","sunny day","Have a nice day")
print(s2)

Ito-san! Today is sunny day. Ito-san!Have a nice day

In [11]:
# If there is no reuse, index numbers are omittable. 
s3 = "{}! Today is {}. {}".format("Ito-san","sunny day","Have a nice day")
print(s3)

Ito-san! Today is sunny day. Have a nice day

In [12]:
# Variable formats are possible 
s4 = " My salary is {0:,.2f} yen.".format(20010170.567)
print(s4)

 My salary is 20,010,170.57 yen.

For more information on the format, see https://docs.python.org/ja/3/library/string.html?highlight=str%20format or look it up on google as 'python format'.