## In Python, everything is an object.

Everything in Python is made up of objects, because Python is designed according to a methodology called object-oriented programming.

Object Oriented Programming: a programming methodology in which everything is an object. Details are explained in the 'Object Oriented' section.

## On dynamic typing

A little bit internal story

In Python, there is no such thing as declaring the types of variables and other types used in a programme. The types are determined automatically during programme execution. This is called 'dynamic typing', a property that is in large part responsible for Python's flexibility and the brevity of Python programmes. languages, which require variables to be pre-declared as types.

For example, when executing 'x = 5', there is no need to declare the type of x upfront.

If x=5 is executed, the following three steps are processed

1. An object is created corresponding to the value 5.
2. Variable x is created (not created if x already exists)
3. Variable x and object 5 are linked.

In [ ]:
x = 5
print(id(x)) # Function to see the id of an object.
print(id(5))

4464548320
4464548320

Above, the object referred to by x and the object called 5 have the same id

## The type information is held by the object, not the variable.

In [ ]:
x = 5
print(type(x))
x = 'hello'
print(type(x))
x = 1.23
print(type(x))

<class 'int'>
<class 'str'>
<class 'float'>

## Multable object and Immutable object

- Immutable: number, string, tuple: value cannot be changed
- Mutable (variable): lists, dictionaries, sets: values can be changed.

In Python, lists are mutable and can be changed.

In [ ]:
x = [1,2]
print(id(x))
print(id([1,2]))
x[0] = 3
print(id(x))
print(id([3,2]))
print(x)

140201431800896
140201431828224
140201431800896
140201431800320
[3, 2]


```
x = [1,2]
y = x
y[0] = 3
x = [3,2]
```
[1,2] can be changed, so it is changed by y[0] = 3

Tuple is immutable. Thus we can not change them.

In [1]:
x = (1,2)
x[0] = 3 # error!

TypeError: ignored

Python is reusing objects for small numbers (-5 to 256) and strings. These objects are identical. (Small Integer Cashing)

In [2]:
x = 5
print(id(x)) 
y = 5
print(id(y))

11256192
11256192

In [3]:
x = 'takayuki'
print(id(x))
y = 'takayuki'
print(id(y))

140126243896816
140126243896816

### equality identifier

equal ->縲 ==縲構nphysically equal ->縲景s縲

In [ ]:
x = 1
y = x
print(x is y)
print(id(x))
print(id(y))

True
4489320800
4489320800

In [ ]:
x = 1
y = 3
print(x is y)
print(id(x))
print(id(y))

False
4489320800
4489320864

In [ ]:
x = [1,3]
y = x
print(x is y)
print(id(x))
print(id(y))

True
140440874713344
140440874713344

In [ ]:
x = [1,3]
y = [1,3]
print(x is y)
print(id(x)) # x 縺ｨ縲y 縺ｯ
print(id(y)) # 逡ｰ縺ｪ繧

False
140440874714048
140440602407040

### Shared Reference

In [ ]:
x = [1,2]
y = x
print(x is y)
y[0] = 3
print(x)
print(x is y)
y = [1,2]
print(x is y)

True
[3, 2]
True
False

## Tuple

In [ ]:
# Tuple is immutable
x = (1,2)
y = x
print(id(x))
print(id(y))
y = (1,2)
print(id(y)) # <-縲different (1,2)
print(x is y) # <- Pyshical equality
print(x == y) # <- Structural equality

140573344239936
140573344239936
140573610701600
False
True

## On multidimensional lists (arrays) and copying

In [ ]:
# x = [[1,2,3],[4,5,6]] # See slides for structure.
print(x[0])
print(x[1])
print(x[0][0])
print(x[0][1])
print(x[0][2])
print(x[1][0])
print(x[1][1])
print(x[1][2])

[1, 2, 3]
[4, 5, 6]
1
2
3
4
5
6

In [ ]:
import copy
#shalow copy
x = [[1,2,3],[4,5,6]]
y = copy.copy(x)
print(y) 
print(id(x),id(y)) # Different in appearance but not copied in depth
print(id(x[0]),id(y[0])) # Not copied in depth (see slides for structure).

[[1, 2, 3], [4, 5, 6]]
140573610706176 140572808198976
140573610750112 140573610750112

In [ ]:
import copy
#Deep copy
x = [[1,2,3],[4,5,6]]
y = copy.deepcopy(x)
print(y)
print(id(x),id(y))
print(id(x[0]),id(y[0]))

[[1, 2, 3], [4, 5, 6]]
140573610705776 140573610750352
140572270227936 140572808194320


## A function is an object
Functions in Python are objects In Python, data such as integers, strings, lists and tuples are all objects. Functions can be assigned to variables in the same way that data such as integers, strings, lists and tuples were assigned to variables in Chapter 1.

In [ ]:
def triple(n):
    return n * n * n

print(triple(4))
x = triple
print(x(4))

64
64

Function names are the same as variables

In [ ]:
print(triple) # Function names are the same as variables
print(x) #縲Variable
print(id(triple))
print(id(x))
# Pointing to the same object

<function triple at 0x7ffc906a7160>
<function triple at 0x7ffc906a7160>
140722731381088
140722731381088

Give 5 as an argument and call function f.

In [ ]:
def input_five(func): # Pass the value 5 as an argument to the function (object) given as an argument.
    return func(5)

input_five(triple)
#input_five(x)

125

### Factory functions/closures

Create a function that creates a function.

It allows intra-functional functions to be defined and takes advantage of the feature that functions have separate scopes.

In [ ]:
def factory_func(n):
    def action_func(x):
        return x**n
    return action_func

func = factory_func(5)
func

In [ ]:
func(3) # This would mean passing 3 to action_func in factory_func

243

In [ ]:
func(4)

1024

In [ ]:
def generate_circle_area_func(the_pi): # outer function
    def circle_area(radius): # inner function
        return the_pi * radius ** 2
    return circle_area

circle_area1 = generate_circle_area_func(3.14)
print(circle_area1(1),'by pi=3.14 and radius=',1)
print(circle_area1(2),'by pi=3.14 and radius=',2)

3.14 by pi=3.14 and radius= 1
12.56 by pi=3.14 and radius= 2

In [ ]:
circle_area2 = generate_circle_area_func(3.1415926535)
print(circle_area2(1),'by pi=3.1415926535 and radius=',1)
print(circle_area2(2),'by pi=3.1415926535 and radius=',2)

3.1415926535 by pi=3.1415926535 and radius= 1
12.566370614 by pi=3.1415926535 and radius= 2

##  Lambda expressions : functions without names (anonymous functions)
Useful when you want to embed a very simple function in your program.

Given an argument x, a Lambda expression that returns the value of x*20 performed is shown below.

In [ ]:
input_five = lambda x: x * 20
input_five(10)

200

The correspondence between the definition of a function by a def statement and the corresponding anonymous function in a Labmda expression is as follows.

When a lambda expression is executed, a function object is obtained as the return value (return value), which can also be assigned to a variable.

- Defininng a function by a def
```
def name(arg1, arg2, ...):

    return statement
```

- The equivalent lambda expression

```
Function name (variable) = lambda arg1, arg2, ...: statement```



Since a lambda expression is only an 'expression', it can be used in places where a def statement cannot be used syntactically. For example, they can be used in list literals, function call code, etc.

(Reference) Assigning a name to a labmda expression may result in a Warning, e.g. with the Python coding convention PEP8 autocheck tool PEP8 is a convention that aims to make code more readable and to ensure a consistent style across a wide range of code written in Python. If a Warning is raised by the PEP8 auto-check tool, it is preferable to modify the code for readability. For example, for the Lambda function in this case, it is recommended to use def to define the function by name.

In [ ]:
# Comparison on def and lambda

# def statement
def func(x,y,z): 
    return x + y + z

func(2,3,4)

9

In [ ]:
# You can do the same as def if you assign it to a variable.
f = lambda x,y,z: x+y+z
f(2,3,4)
# lambda can generate function objects without necessarily assigning them to variables

9

In [ ]:
#List of function objects
func_list = [(lambda x: x**2),(lambda x: x**3),(lambda x: x**4)]

In [ ]:
for aFunc in func_list:
    print(aFunc(2))

4
8
16

In [ ]:
func_list[1](3) # Three squared of three.

27

In [ ]:
double = func_list[0]
double(10)

100

### Notes on lambda and nested scopes

In [ ]:
def function():
    x = 10
    action = (lambda n: x*n) 
    #x in the lambda function is referenced to x=4 above the nested scope 
    #because there is no x in the local scope
    return action

f = function()
print(f(2))

20

In [ ]:
# Without nested scopes
def function():
    x = 10
    action = (lambda n,x=x: x*n) 
    # Prepare x in the local scope in the lambda function
    #  and assign x in the local scope of func
    return action

f = function()
print(f(2))

20

In [ ]:
def test(x=10):
    print(x)

test()

10

In [ ]:
# Some examples of how things work differently than they are supposed to.
def makeLambdas():
    lambdas = []
    for i in range(10):
        lambdas.append(lambda x: i*x) # I want each i to change.
        # -> It was supposed to be [(lambda x: i*x),(lambda x: i*x),(lambda x: i*x),...]
    return lambdas

lambdas = makeLambdas()
print(lambdas[0])

<function makeLambdas.<locals>.<lambda> at 0x7fb1d847b160>

In [ ]:
lambdas[0](100)

900

In [ ]:
lambdas[2](100)

900

In [ ]:
lambdas[3](100)

900

Explanation: i in lambda is referenced when it is called and the counter is at its maximum of 9.

In [ ]:
# Some examples of how things work differently than they are supposed to.
def makeLambdas():
    lambdas = []
    for i in range(10):
        lambdas.append(lambda x,i=i: i*x) # I want each i to change.
        # -> It was supposed to be [(lambda x: 0*x),(lambda x: 1*x),(lambda x: 2*x),...]
    return lambdas

lambdas = makeLambdas()
print(lambdas[0])

<function makeLambdas.<locals>.<lambda> at 0x7ffc906a79d0>

In [ ]:
lambdas[0](100)

0

In [ ]:
lambdas[2](100)

200

## map function 

The same operation can be performed on individual elements, which is a common process in programs for lists, etc. It can also be done in a for loop, but the map function is more convenient.

In [ ]:
def increment(x):
    return x + 1

numbers = [0,1,2,3,4,5,6,7,8,9]

x = map(increment,numbers) # Returns a map object. map object is an iterator object.
print(x)

for i in x:
    print(i,end=" ")

<map object at 0x7ffcc0221640>
1 2 3 4 5 6 7 8 9 10

In [ ]:
pow(2,5) # Functions for finding the power of a number

32

In [ ]:
list(map(pow,[1,2,3,4,5],[1,2,3,4,5]))

[1, 4, 27, 256, 3125]

In [ ]:
list(map(pow,range(0,5),[2,2,2,2,2]))

[0, 1, 4, 9, 16]

## filter function

In [ ]:
x = filter((lambda x: x % 2 == 1), [0,1,2,3,4,5,6,7,8,9]) # filter繧ｪ繝悶ず繧ｧ繧ｯ繝医 繧､繝 Ξ繝ｼ繧ｿ繧ｪ繝悶ず繧ｧ繧ｯ繝 
for i in x:
    print(i,end=' ')

1 3 5 7 9

## reduce function
From python 3 and above, it is included in a library called functools

In [ ]:
from functools import reduce
reduce((lambda x,y:x+y),[1,2,3,4,5,6,7,8,9,10]) # Add the given lists together from the first two.

55

In [ ]:
from functools import reduce
reduce((lambda x,y:x*y),[1,2,3,4,5,6,7,8,9,10])

3628800

# list comprehensions
The need to take some elements out of a list, or to reconfigure it into another list with changing values, frequently arises; in Python this is represented by list comprehensions.

List comprehensions can be used to shorten the code, but they can also be obfuscated

Give the list one_to_ten the values 0~9 as elements, starting from 0, using the for statement iteration process.

In [ ]:
one_to_nine = [0,1,2,3,4,5,6,7,8,9]
one_to_nine

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
one_to_nine = list(range(10))
one_to_nine

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
one_to_nine =[y for y in range(10)]

In [ ]:
one_to_nine

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

Generates a list with only even numbers as elements, with an if statement for conditional judgement and a for statement for iterative processing.

In [ ]:
even_numbers = [x for x in range(10) if x % 2 == 0 ]

In [ ]:
even_numbers

[0, 2, 4, 6, 8]

Generates a dictionary with keys 0-9 and corresponding x as an element.
See bottom for dictionary inclusive expressions

In [ ]:
aDict = { x: x*x for x in range(10)}

In [ ]:
aDict

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

The list is used as a data structure and the set is generated by an iterative process.

In [ ]:
aSet = {x for x in [1,2,3,-1,2,4,1]}

In [ ]:
aSet

{-1, 1, 2, 3, 4}

The process is repeated in the range 0 竕､ x < 10 and 0 竕､ y < 10.

for x in range(10):

    for y in renge(10)
    
    return x,y
The above is a nested structure.

In [ ]:
num_num = [(x,y) for x in range(3) for y in range(3)]

In [ ]:
num_num

[(0, 0), (0, 1), (0, 2), (1, 0), (1, 1), (1, 2), (2, 0), (2, 1), (2, 2)]

The process is repeated in the range 0竕､x<3 and x+1竕､y<10.

for x in range(10):

    for y in range(x+1,10 噂n    
    return x,y
is a nested structure.

In [ ]:
aNumNum = [(x,y) for x in range(3) for y in range(x+1,3)]

In [ ]:
aNumNum

[(0, 1), (0, 2), (1, 2)]

## Generator function
### yeild function
The Generator iterates (as it usually does with for), but the values are generated only as much as is needed (delayed).

A function that returns some value once, and after a while, restarts processing from that point.

Unlike normal functions, which return a value and exit, the Generator function 'pauses' execution. During the pause, information such as "what was the status at the time of the pause" and "how far the process has progressed", in other words "state information", is retained. Execution is then resumed from the state at the time of the last stop.

With Generator, there is no need to prepare all the values needed for the process in advance.

State information contains all the values of variables in the local scope. These values are used when resuming execution.

(Important) The most significant difference between Generator functions and ordinary functions is that they use yield instead of return to pass values: return terminates the execution of the function and returns a value (return); yield pauses the execution of the function, generates some value/object and passes it (yield).   When yield is invoked, the function pauses processing rather than terminating it. At this time, state information is retained as described above, so that processing can be resumed later from the point at which it was paused.

This means that a number of values can be passed from the same function over a long period of time. It is possible to create mechanisms that allow huge amounts of data to be allocated in memory and processed as required. For example, when passing a list to the caller, it is not necessary to create the whole list at once, but the elements that make up the list can be called little by little and passed to the caller.

Functions containing YIELD are handled differently from normal functions. When called, they return a generator object that supports the iterator protocol (the protocol is the template that the object with it should follow). Objects that support the iterator protocol always have a method (function) called __next__(). The method __next__() is a method that returns the next object to be processed in the loop. (In Python 2.0, next())

Objects that support the iterator protocol can be used in a for loop without modification.

## An example of Generator

In [ ]:
## How to use yield functions
def aFunc():
    yield 'Hello1' 
    yield 'Hello2'
    yield 'Hello3'

In [ ]:
for x in aFunc():
    print(x)

Hello1
Hello2
Hello3

If you put yield in the function, it returns a generator object.

In [ ]:
aFunc()

In [ ]:
#standard range
range(10)

range(0, 10)

The range of delayed evaluation versions is shown below.

By inserting YIELD, it is a Generator object.

In [ ]:
def delayed_range(n):
    i = 0
    while i < n:
        yield i
        i += 1

The yield (created) values are taken out one by one and repeated until there are no more.

In [ ]:
for i in delayed_range(10):
    print(i,end=' ')

0 1 2 3 4 5 6 7 8 9

## Generator to calculate cubes.

In [ ]:
def gentriples(n):
    for i in range(n):
        yield i ** 3

In [ ]:
for i in gentriples(10):
    print(i,end=' ')

0 1 8 27 64 125 216 343 512 729

In [ ]:
x = gentriples(10)

In [ ]:
x

In [ ]:
x.__next__()

0

In [ ]:
x.__next__()

1

In [ ]:
x.__next__()

8

In [ ]:
x.__next__()

27

In [ ]:
x = gentriples(100)

In [ ]:
next(x)

0

In [ ]:
next(x)

1

In [ ]:
next(x)

8

## On comprehensions (note the details, especially their use in dictionaries) and the zip function

In [ ]:
dict = {x:y*z for x in range(10) for y in range(10) for z in range(10)}

In [ ]:
dict

{0: 81, 1: 81, 2: 81, 3: 81, 4: 81, 5: 81, 6: 81, 7: 81, 8: 81, 9: 81}

In [ ]:
dict = {x:y*z for x in [0,1,2] for y in [0,1,2] for z in [0,1,2]}

In [ ]:
dict

{0: 4, 1: 4, 2: 4}

This is so because there are only three key numbers 0, 1 and 2.
There are three y's and three z's, so nine keys are needed.
Therefore, try as [0,1,2,3,4,5,6,8,9] for x.

In [ ]:
dict = {x:y*z for x in [0,1,2,3,4,5,6,7,8,9] for y in [0,1,2] for z in [0,1,2]}

In [ ]:
dict

{0: 4, 1: 4, 2: 4, 3: 4, 4: 4, 5: 4, 6: 4, 7: 4, 8: 4, 9: 4}

In practice, there are three overlapping for statements, resulting in a three-dimensional list.
Either way, there are only nine keys, so the last y*z value of 4 would contain nine.
```
for x in [0,1,2,3,4,5,6,7,8,9]:
    for y in [0,1,2]:
        for z in [0,1,2]:
            {x : y * z} is added to the dictionary.
```
as doing the same thing, but since the dict key is only 0-9,
when x (key) is 0, y*z 0,1,4 are added in sequence, leaving only the last 4. The same applies when x is 1-9.

In [ ]:
# Namely, it is the same as following: 
dict = {}
for x in [0,1,2,3,4,5,6,7,8,9]:
    for y in [0,1,2]:
        for z in [0,1,2]:
            dict.update({x : y * z}) # Adding dictionaries.
dict

{0: 4, 1: 4, 2: 4, 3: 4, 4: 4, 5: 4, 6: 4, 7: 4, 8: 4, 9: 4}

Here, it is reasonable to use the zip function

In [ ]:
dict = {x:y*z for x,y,z in zip([0,1,2],[0,1,2],[0,1,2])}

In [ ]:
dict

{0: 0, 1: 1, 2: 4}

In [ ]:
list(zip([1,2,3],[4,5,6],[7,8,9]))

[(1, 4, 7), (2, 5, 8), (3, 6, 9)]